/*公共部分*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto; }
.leftArea{float: left; } 
.rightArea{float: right; }
.hide{display: none;}
.show{display: block;}
.clearfix{clear: both;}
/* topBar */
.topbar{height:31px;background-color:#f7f7f7; line-height: 31px; }
.collection{background: url(../img/collection.jpg) left center no-repeat; 
	padding-left: 19px; font-weight: bold; }
.topBar a:hover{color:red; }
/* logo */
.logoBar{height: 85px; background-color: #1D7AD9; }
.logo{padding-left: 41px; padding-top: 13px; }
.search_box{width: 430px; margin-top: 23px; margin-left: 185px; }
.search_text{width: 350px; height: 35px; padding:0 5px; background-color: #fff; 
line-height: 35px\9;/* css hack \9代表所有的IE浏览器 */ }
.search_btn{width: 70px; height: 35px; font-size: 14px; font-family: "微软雅黑";
 background-color: #FF8C00; color: #fff; }
/*购物车*/
.shopCar{width:145px; height: 35px; background-color: #FF8C00; margin-top: 23px; 
	font:14px/35px "微软雅黑"; color: #fff; margin-right: 59px; display: inline;}
.shopText{/* font-size: 14px; font-family: "微软雅黑"; line-height: 35px; */ 
width: 87px; height: 100%; border-right: 1px solid #E27A00; 
background:url(../img/shopitem.jpg) 10px center no-repeat; text-indent: 40px;/*首行缩进*/ }
.shopNum{width:27px; height: 100%; border-left: 1px solid #FF9C01; 
background:url(../img/list.jpg) 33px center no-repeat; text-align: right; padding-right: 29px;/*向右对齐是为了如果数字增长可以往左边增长*/ }
/*导航栏*/
.navBox{height: 35px; background-color: #1369C0; color: #fff; }
.shopClass{width: 190px; height: 100%; position: relative; }
.shopClass h3{text-align: center; line-height: 35px; }
.shopClass i{width: 11px; height: 7px; overflow: hidden;
 background:url(../img/sj.jpg) left center no-repeat; 
 display: inline-block; margin-left: 11px; }
.nav{line-height: 35px; }
.nav,.shopClass h3{font-family: "Microsoft YaHei","微软雅黑"; }
.nav li{float: left;}
.nav a{height: 35px; display: inline-block; padding:0 40px; 
	color: #fff;font-size: 12px;}
.nav .active{background-color: #4593FD; }
/*商品弹出列表*/
.shopClass_show{background-color: #4593FD; position: absolute; left: 0; 
	top:35px; width: 100%;padding-bottom: 1px; }
.shopClass_show .b{font:14px/1 "微软雅黑"; }
.shopClass_show a{color: #fff; }
.shopClass_item{padding:13px 10px; border-bottom: 1px solid #3487F2;
 border-top: 1px solid #5AA1FE; line-height: 16px;}
 .shopClass_item a:hover{text-decoration: underline;}
.shopClass_item dt{height: 21px;line-height: 1;overflow: hidden;/* 前两个是处理IE6的小bug */ background:url(../img/next.jpg) right center no-repeat; }
.shopClass_item .aLink{width: 48px;height: 20px; 
	background:url(../img/bgcolor.jpg) left center no-repeat; display: inline-block;
text-align: center;line-height: 20px; text-decoration: underline;}
/*shopClass_item active的状态*/
.shopClass_active{background-color: #fff; border-left: 1px solid #4593FD;}
.shopClass_active a{color: #000;}
.shopClass_active .aLink{color: #fff;text-decoration:none;background:url(../img/bgcolor.png) left center no-repeat;}
.shopClass_active dt{background:none;}
/*弹出的菜单*/
.shopClass_list{
	width: 650px;border:1px solid #ccc;
	position: absolute;left:190px;top:35px;
	z-index: 3;background-color: #fff;
}
.shopList_item dt{color:#4B87D9;font-weight: bold; height: 24px;line-height: 24px}
.shopList_item dd{padding-left: 68px;margin-top: -24px;line-height: 24px}
.shopList_item dd a{margin-right:12px;}
.shopList_item dd a:hover{text-decoration: underline;}
.shopList_item{padding:10px 0; border-bottom: 1px solid #ccc}
.shopClass_count{padding: 0 20px}
.shopList_links a{color: #fff;background-color: #2785E6;height: 26px;line-height: 26px;
font-size: 12px;display: inline-block; padding:0 10px 0 8px; margin-right: 10px;}
.shopList_links span{width: 11px;height: 7px; background:url(../img/next.jpg) left center no-repeat;
display: inline-block;margin-left: 10px;}
.shopList_links{padding:15px 0;}
/* banner部分 */
.banner_bar{float: none;overflow: hidden;position: relative;}
.imgBox{position: absolute;left: 0;top: 0;}

.imhBox img{display: block}
/* #button { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 350px; }
#button a { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; margin-right: 5px; background-color: #333; } */
.imgNum{position: absolute;left: 0;bottom: 15px;width: 100%; text-align: center;z-index: 2;}
.imgNum a{cursor: pointer;width: 20px; height: 5px; overflow: hidden;background-color: #fff;display: inline-block;
margin:0 3px;}
#button .active { background-color: orangered; }
.banner_big,
.banner_big .imgBox img{width: 810px;height: 326px;}
.banner_big .imgBox{ width: 4860px; height: 326px; position: absolute; z-index: 1; transition: left 1s; -moz-transition: left 1s;
  /* Firefox 4 */ -webkit-transition: left 1s;  /* Safari and Chrome */ -o-transition: left 1s;  /* Opera */ }
.banner_sm,
.banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold;
 width: 40px; height: 40px; position: absolute; z-index: 2; top: 180px; background-color: rgba(0, 0, 0, 0.3); color: #fff; }
.arrow:hover { background-color: rgba(0, 0, 0, 0.7); }
#container:hover .arrow { display: block; text-decoration: none; color: #fff; }
#prev { left: 20px; }
#next { right: 20px; }
/*footer部分*/
.footer{text-align: center;background-color: #D4D4D4;
line-height: 24px;padding:50px 0;margin-top: 40px;}
.footer i{font-style:normal;margin: 0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60}
.web{padding-top: 30px;}
.web img{margin:0 12px;}

/*产品分类*/
.products{margin-top: 17px;}
.products .leftArea{width: 185px;}
.products .rightArea{width: 810px;}
/*产品分类导航*/
.leftNav{background-color: #F3F3F3;border:1px solid #D7D7D7;}
.nav_title{text-align: center;font-size: 14px;height: 34px;line-height: 34px;border-bottom: 1px solid #D7D7D7;
font-family: "宋体"; }
.nav_cont h3{font-size: 12px;height: 30px;line-height: 30px;}
.nav_cont{padding: 0 18px 4px;border-bottom: 1px dotted #D7D7D7;margin-bottom: -1px;}
.navCont_list{line-height: 25px;}
.navCont_list li{float: left;width: 50%;}
.navCont_list li a:hover{color:red;}
/*产品标题*/
.products_title{height: 34px;border-bottom: 2px solid #ccc;margin-top: 10px;}
.products_title h3{width: 170px;border-bottom: 2px solid #096DBA;height: 34px;line-height: 34px;padding-left: 10px;
font-size: 16px;margin-bottom: -2px;position: relative;/*后面两个变动针对IE6错位现象*/}
/*商品列表*/
.item{width: 25%;float: left;margin-bottom: 15px;height: 265px;}
.img_item{height: 170px;text-align: center;}
.img_item img{height: 170px;}
.item p{line-height: 20px;}
.item p{width: 90%;margin: 0 auto;}
.item p:first-of-type{margin-top: 10px;}
.item a{color: #000;}
.item a:hover{color: red;}
.money{color: #D4105A;font-weight: bold;padding-top: 10px;}
.item i{color: #F6A135}
.item .comment{color:#085C9B }